# Power BI
*.pbix.bak
~$*.pbix
*.pbit.bak

# Power BI lock file created when the project is open
*.pbix.lock

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.vscode/
.idea/

# Temp files
*.tmp
*.log
